
<!--------
the div for the forms signup and sigin
----->
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Dogs Roles with Humans</h2>

  <!------
   The toggle between the sign up and sign in
   -------->

  <!--------
   the input of the forms
   --------->
  <div class="ui segments">
    <div class="ui segment">
      <p>Nested Top</p>
    </div>
    <div class="ui segment">
      <p>Nested Middle</p>
    </div>
    <div class="ui segment">
      <p>Nested Bottom</p>
    </div>
  </div>



</div>
