<!--------
The header or the nav bar
----->
<div class="ui stackable menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>
</div>


<!----------
 Add Ttodo HTML
 --------->
<div class="ui action input huge  " style="width:50%; margin-left: 25%; margin-right: 25%">
  <input type="text"  placeholder="what  do you want to do">
  <button class="ui teal button">add todo</button>
</div>

<!--------
ROUTES of all / active / completed
 ---------->
<div class="ui big celled horizontal list" style="width:50%; margin-left: 25%; margin-right: 25%">
  <div class="item">All</div>
  <div class="item">Active</div>
  <div class="item">Completed</div>
</div>

<!-------
Single ttodo component html
------>
<div class="ui huge green segment" style="margin-left: 25%; margin-right: 25%">
  <div class="ui checkbox" >
    <input type="checkbox" name="example">
    <label style="font-size: 22px" >feed the cat</label>
  </div>
  <div style="display: inline ; float: right;">
    <button class="ui purple mini button" >edit</button>
    <button class="ui red mini button" >delete</button>
  </div>
</div>

<div class="ui huge red segment" style="margin-left: 25%; margin-right: 25%">
  <div class="ui checkbox" >
    <input type="checkbox" name="example">
    <label style="font-size: 22px">feed the cat</label>
  </div>
  <div style="display: inline ; float: right;">
    <button class="ui purple mini button" >edit</button>
    <button class="ui red mini button" >delete</button>
  </div>
</div>
